@model IEnumerable<PythonGames.Classes.Models.Cliente>

@{
    ViewBag.Title = "Lista de Clientes";
}

<h2>Lista de Clientes</h2>
<br />

<div class="navbar">
    @Html.ActionLink("Novo Cliente", "Cadastrar", null, new { @class = "btn-orange" })
    @Html.ActionLink("Mostrar Apenas Ativos", "Index", null, new { @class = "btn btn-outline-secondary" })

    <form class="form-inline" method="post">
        <input class="form-control mr-sm-2" id="cpf_cli" name="cpf_cli" type="search" placeholder="Buscar por cpf">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Buscar</button>
    </form>
</div>

<br />
<table class="table table-borderless text-center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nm_cli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cpf_cli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nm_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.flag)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nm_cli)
            </td>
            <td style="user-select: none;">
                @Html.DisplayFor(modelItem => item.cpf_cli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nm_email)
            </td>
            <td>
                @if (item.flag != 1)
                {
                    <b>Ativo</b>
                }
                else
                {
                    <p>Inativo</p>
                }
            </td>
            <td>
                @if ((int)Session["AcFuncionarioLogado"] == 1 && item.flag != 1)
                {
                    @Html.ActionLink("Alterar", "Alterar", new { cd = item.cd_cliente }, new { @class = "btn-alt" })
                    @Html.ActionLink("Desativar", "Desativar", new { cd = item.cd_cliente }, new
                    {
                        @class = "btn-del",
                        onclick = "return confirm('Deseja realmente desativar " +
                        @Html.DisplayFor(modelItem => item.nm_cli) + " ? ');"
                    })
                }
                else if ((int)Session["AcFuncionarioLogado"] == 1)
                {
                    @Html.ActionLink("Reativar", "Reativar", new { cd = item.cd_cliente }, new
                    {
                        @class = "btn-del",
                        onclick = "return confirm('Deseja realmente reativar " +
                        @Html.DisplayFor(modelItem => item.nm_cli) + " ? ');"
                    })
                }
            </td>
        </tr>
    }

</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#cpf_cli").inputmask("mask", { "mask": "999.999.999-99" }, { reverse: true });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}