@model PythonGames.Classes.Models.Funcionario

@{
    ViewBag.Title = "Cadastrar Funcionário";
}

<h2 class="titulo-form">Cadastrar Funcionário</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "" })
        <div class="div-form-col1">

            <div class="">
                @Html.LabelFor(model => model.nm_func, htmlAttributes: new { @class = "" })
                <div class="">
                    @Html.EditorFor(model => model.nm_func, new { htmlAttributes = new { @class = "" } })<br />
                    @Html.ValidationMessageFor(model => model.nm_func, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="">
                @Html.LabelFor(model => model.cpf_func, htmlAttributes: new { @class = "" })
                <div class="">
                    @Html.EditorFor(model => model.cpf_func, new { htmlAttributes = new { @class = "", @id = "cpf_func" } })<br />
                    @Html.ValidationMessageFor(model => model.cpf_func, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="p">
                @Html.LabelFor(model => model.nm_usu, htmlAttributes: new { @class = "" })
                <div class="">
                    @Html.EditorFor(model => model.nm_usu, new { htmlAttributes = new { @class = "" } })<br />
                    @Html.ValidationMessageFor(model => model.nm_usu, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="div-form-col1">

            <div class="">
                @Html.LabelFor(model => model.senha_usu, htmlAttributes: new { @class = "" })
                <div class="">
                    @Html.EditorFor(model => model.senha_usu, new { htmlAttributes = new { @type = "password" } })<br />
                    @Html.ValidationMessageFor(model => model.senha_usu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="">
                @Html.LabelFor(model => model.func_acesso, htmlAttributes: new { @class = "" }):
                <p>
                    @Html.RadioButtonFor(model => model.func_acesso, 0, new { @checked = true, @id = "txtComum" })
                    <label for="txtComum">  Comum </label>
                </p>
                <p>
                    @Html.RadioButtonFor(model => model.func_acesso, 1, new { @id = "txtTotal" })
                    <label for="txtTotal">  Total </label>
                </p>
            </div>
        </div>

        <div class="">
            <div class="btn-form">
                <p class="text-danger">
                    @ViewBag.ErroMsg
                </p>
                <input type="submit" value="Cadastrar" class="btn btn-orange" />
            </div>
        </div>
    </div>
}
<br />

<div class="link-voltar-form">
    <i class="fas fa-arrow-circle-left">
        @Html.ActionLink("Voltar", "Listar")
    </i>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#cpf_func").inputmask("mask", { "mask": "999.999.999-99" }, { reverse: true });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
